{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ about_info.title }}</title>
    <!-- Подключение стилей или других ресурсов -->
    <link rel="stylesheet" href="{% static 'mainpage/aboutus.css' %}">
</head>
<body style="background-image: url(/static/mainpage/images/background.png);
            background-size: cover;
            background-repeat: no-repeat;">
    <div class="hamburger-menu">
        <div class="logo">
            <img src="{% static 'mainpage/images/logo1.png' %}" alt="Логотип">
        </div>


        <ul class="menu-links">
            <li><a href="{% url 'mainpage' %}">Main</a></li>
            <li><a href="/tracker/">Calorie Tracker</a></li>
            <li><a href="/food/">List of products</a></li>
            <li><a href="/stories/">Success Stories</a></li>
        </ul>
    </div>
    <main>
        <section class="about-section">
            <h1>{{ about_info.title }}</h1>
            <p>{{ about_info.history }}</p>
            <p>{{ about_info.mission }}</p>
            <p>{{ about_info.values }}</p>
            <p>{{ about_info.team }}</p>
            <p>{{ about_info.contact_info }}</p>
            <p>{{ about_info.achievements }}</p>
            <img src="{{ about_info.images.url }}" style="width: 300px; height: 300px; border-radius: 30px;">

            <!-- Остальные поля модели AboutUs -->
        </section>
    </main>

    <footer>
        <!-- Футер сайта -->
        <p>&copy; 2023 {{ about_info.title }}</p>
    </footer>
</body>
</html>